{
  "env": {
    "development": {
      "presets": [
        [
          "env",
          {
            "exclude": ["transform-es2015-typeof-symbol"],
            "loose": true,
            "modules": false
          }
        ],
        "stage-2"
      ]
    },
    "es": {
      "presets": [
        [
          "env",
          {
            "exclude": ["transform-es2015-typeof-symbol"],
            "loose": true,
            "modules": false
          }
        ],
        "stage-2"
      ]
    },
    "lib": {
      "presets": [
        [
          "env",
          {
            "exclude": ["transform-es2015-typeof-symbol"],
            "loose": true
          }
        ],
        "stage-2"
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "exclude": ["transform-es2015-typeof-symbol"],
            "loose": true,
            "modules": false
          }
        ],
        "stage-2"
      ]
    },
    "test": {
      "presets": [
        [
          "env",
          {
            "exclude": ["transform-es2015-typeof-symbol"],
            "loose": true
          }
        ],
        "stage-2"
      ]
    }
  }
}
