{
  "extends": ["rapid7/browser", "rapid7/strict"],
  "globals": {
    "__dirname": true,
    "Buffer": true,
    "global": true,
    "module": true,
    "process": true,
    "require": true,
    "TypedArray": true
  },
  "parser": "babel-eslint",
  "rules": {
    "max-depth": 0,
    "max-statements": 0
  }
}
