{
  "extends": ["rapid7/browser"],
  "globals": {
    "__dirname": true,
    "Buffer": true,
    "global": true,
    "module": true,
    "process": true,
    "require": true,
    "TypedArray": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "arrow-body-style": [2, "as-needed"]
  }
}
